
.calculator-container {
    border-top: 3px solid darkblue;
    .bmi-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-select {
        margin-top: 10px;
        .product-select__label {
            padding-left: 10px;
        }
    }

    .select-list {
        padding:10px;
    }
}

.error-container {
    .error-container__text {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--success {
            color:green;
        }
        &--error {
            color:red;
        }
    }
}