.login-form-component {
    .form__text-node{
        text-align: center;
    }
    .form__link--register {
        display:flex;
        align-content: center;
        justify-content: center;
    }
    .form__text-node--error {
        display:flex;
        align-content: center;
        justify-content: center;
        color:red;
    }
}