<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click) = "navigate('calculators')">Kalkulatory</ion-item>
      <ion-item (click) = "navigate('history')">Historia obliczeń</ion-item>
      <ion-item (click) = "navigate('foodList')">Historia posiłków</ion-item>
      <ion-item (click) = "logOut()">Wyloguj</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-router-outlet main></ion-router-outlet>

<ion-content class="home-page-component">
<ion-header>
  <ion-toolbar>
      <ion-title>Strona domowa</ion-title>
      <ion-button (click)="penFirst()">Witam</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="home-page-component__container">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
</ion-content>

