<ion-toolbar color="primary">
  <ion-title>Edycja Telefonu</ion-title>
</ion-toolbar>
<ion-content>
  <form [formGroup]="formTel" (ngSubmit)="onSubmit()">
<ion-item>
  <ion-label>Producent:</ion-label>
  <ion-input formControlName="manufacturer" type="text" placeholder="Producent"></ion-input>
</ion-item>
<p class="danger" *ngIf="form.manufacturer.touched && form.manufacturer.errors?.required">Podaj prawidłowego producenta!</p>
<ion-item>
    <ion-label>Model:</ion-label>
    <ion-input formControlName="model" type="text" placeholder="Model"></ion-input>
  </ion-item>
  <p class="danger"  *ngIf="form.model.touched && form.model.errors?.required">Podaj prawidłowy model</p>
  <ion-item>
    <ion-label>Android:</ion-label>
    <ion-input formControlName="android" type="text" placeholder="Wersja Androida"></ion-input>
  </ion-item>
  <p class="danger"  *ngIf="form.android.touched && form.android.errors?.required || form.android.errors?.pattern">Podaj prawidłowy model</p>
  <ion-item>
      <ion-label>Strona:</ion-label>
      <ion-input formControlName="url" type="text" placeholder="Strona"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="form.url.touched && form.url.errors?.required || form.url.errors?.pattern">Podaj prawidłową stronę</p>
    <ion-button (click)="OpenBrowser()" [disabled]="!formTel.valid">
      WWW
    </ion-button>
    <ion-button (click)="Cancel()" >
        Anuluj
      </ion-button>
      <ion-button type="submit" [disabled]="!formTel.valid">
          Zatwierdź
        </ion-button>
  </form>
</ion-content>