$tbColor: black;
$androidcolor:rgb(70, 228, 70);


ion-toolbar ion-button{
    color:$tbColor;
}
ion-icon[name="logo-android"]{
   color:$androidcolor;
   font-size: 1.5em;
    
}
ion-toolbar{
    border-bottom:1px solid black;
    
}
ion-item:hover{
 opacity: 0.8;
 color:grey;
 font-size:1.5em;
}
ion-item{
    transition:1s;
    
}
ion-item:focus{

    
   font-size:1.5em;

}

table{
    width:100%;
}
table td{
    width:50%;
}

ion-button{
   display:flex;
}

.disabled{
    display:none;
}