.register-form-component {
    .register-form-component__text-node {
        text-align: center;
    }
    .register-form-component__link--login {
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .register-form-component__link--error {
        display:flex;
        align-items: center;
        justify-content: center;
        color:red;
    }
}